body {
  background-color: #262626;
  color: #ddd;
  user-select: none;
}

.box {
  border: 5px solid #000;
  display: grid;
  grid-auto-flow: row;
  max-width: 800px;
  position: relative;
  margin: 0 10px 10px 10px;
  flex-shrink: 0;
  background-color: purple;
  background-color: transparent;
  background-color: black;
}

.restart {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  gap: 20px;
}

.restart button {
  background-color: #444;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  color: #eee;
  text-transform: uppercase;
}

.scoreState {
  font-size: 2em;
  width: 100px;
  text-align: right;
  flex-basis: 50%;
}

.nextFigure {
  display: flex;
  flex-basis: 50%;
  width: 0;
}

.nextFigure .item {
  width: 20px !important;
  height: 20px !important;
}

@media (max-width: 400px) {
  .scoreState {
    font-size: 1em;
  }

  .nextFigure .item {
    width: 10px !important;
    height: 10px !important;
  }
}

.item {
  aspect-ratio: 1 / 1;
  box-shadow: inset 0 0 1px 0 #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6px;
  border-radius: 1px;
  z-index: 1;
}

.item_0 {
  background-color: #111;
  box-shadow: 0px 0px 0 1px #2b2b2b;
  border-radius: 1px;
  z-index: 0;
}
.item_1 {
  background-color: #ff6961;
  box-shadow: 0px 0px 6px 1px #ff696199;
}
.item_2 {
  background-color: #ffb480;
  box-shadow: 0px 0px 6px 1px #ffb48099;
}
.item_3 {
  background-color: #f8f38d;
  box-shadow: 0px 0px 6px 1px #f8f38d99;
}
.item_4 {
  background-color: #42d6a4;
  box-shadow: 0px 0px 6px 1px #42d6a499;
}
.item_5 {
  background-color: #08cad1;
  box-shadow: 0px 0px 6px 1px #08cad199;
}
.item_6 {
  background-color: #59adf6;
  box-shadow: 0px 0px 6px 1px #59adf699;
}
.item_7 {
  background-color: #9d94ff;
}
.item_8 {
  background-color: #c780e8;
}
.item_100 {
  background-color: #656b72;
  transition: background-color ease-out 0.2s;
}

.touchControls {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 33%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.touchControls button {
  background-color: #00000050;
  font-size: 1em;
  padding: 20px;
  border-radius: 5px;
  color: #eee;
  text-transform: uppercase;
  width: 80px;
  display: block;
  margin-bottom: 20px;
  border: 0;
}

.touchControls div:first-child button:last-child {
  transform: translateX(60%);
}

.touchControls div:last-child button:last-child {
  transform: translateX(-60%);
}

svg {
  filter: drop-shadow(0 0 3px #42d6a4);
  margin-left: 5px;
}
